<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cecilia Montaño</title>
</head>
<h1>
Menu de operaciones
</h1>
<body>
<ul>
	<li><a href="calcularSuma?n1=30&n2=34">1)Suma:</a></li>
	<li><a href="calcularResta?n1=4&n2=2">2)Resta:</li>
	<li><a href="calcularMultiplicacion?n1=5&n2=10">3)Multiplicacion:</li>
	<li><a href="calcularDivision?n1=20&n2=0">4)Division:</li>
	<li><a href="calcularPotencia?n1=3&n2=2">5)Potencia:</li>
	<li><a href="calcularRaiz?n1=9&n2=2">6)Raiz</li>
</ul>
</body>
</html>